@import url(http://reset5.googlecode.com/hg/reset.min.css);

html{
	height: 100%;
}

body{
	background: #ccc;
	height: 100%;
	font-family: "nimbus-sans",sans-serif;
	/*font-family: sans-serif;*/
}

.clearfix{
	clear: both;
}

.container{
	width: 100%;
	height: 100%;
	position: relative;
}

.content-bottom {
	background: #F8F8F8; 
	padding-left: 10px;
	padding-right: 10px;
	bottom: 0px; 
	min-height: 300px;
}

.greyed {
	background: #F8F8F8; 
}

.sidebar{
	width: 18%;
	min-width: 240px;
	max-width: 250px; 
	height: 100%;
	position: fixed;	
	background: #efefef;
	float: right;
	top: 0;
	right: 0;
}

.sidebar.left{
	left: 0;
	right: none;
}

.left{	
	float: none;
}

.sidebar.left .subheader{
	font-size: 12pt;
	width: 100%;
}

.left .content{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	bottom: 0px;
}

.header{
	font-size: 25pt;
	margin: 20px 10px 10px 10px;
}

.title{
	font-size: 25pt;
	font-weight: bold;
}

.header .title{	
	/*width: 40%;*/
}

.header .logo{
	float: right;
	padding: 10px 10px;	
}

.subheader{
	float: left;
	padding: 0 0 10px 0;
	width: 50%;
}

.subheader p{
	font-size: 13.5pt;
	padding-top: 10px;	
}

#map_canvas{
	height: 100%;
	width: 100%;	
}

.stop-marker {
	background: none;
}

.infobox{
	background: white;
	width: 150px;
	padding: 5px;
	min-height: 30px;
	text-align: center;
}

ul.lines{
	text-decoration: none;
	margin-top: 20px;
}

.lines li{
	list-style: none;	
	height: 40px;
	width: 100%;
	font-size: 24px;
	color: white;
}

.lines li div{
	padding-left: 10px;
	padding-top: 10px;
}

li.LRT1{
	background: #fdc33c;
}

li.LRT1.clicked{
	background: #fdc33c;
	height: 200px;
}

li.LRT1.clicked p{
	font-size: 12px;
	color: black;
	padding-left: 10px;
	padding-top: 10px;
}

li.LRT2{
	background: #ad86bc;
}

li.LRT2.clicked{
	background: #ad86bc;
	height: 200px;
}

li.LRT2.clicked p{
	font-size: 12px;
	color: black;
	padding-left: 10px;
	padding-top: 10px;
}

li.MRT{
	background: #5384c4;
}

li.MRT.clicked{
	background: #5384c4;
	height: 200px;
}

li.MRT.clicked p{
	font-size: 12px;
	color: black;
	padding-left: 10px;
	padding-top: 10px;
}

li.PNR{
	background: #f28740;
}

li.PNR.clicked{
	background: #f28740;
	height: 200px;
}

li.PNR.clicked p{
	font-size: 12px;
	color: black;
	padding-left: 10px;
	padding-top: 10px;
}

.info{
	width: 100%;	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;	
	padding-bottom: 10px;
	text-align: center;
}

.left .info{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.info span{
	height: 40px;
	padding: 5px;	
}

.info span:hover{
	background: #aaa;
}

.info a{
	text-decoration: none;
}

.padded {
	padding-top: 10px;	
	padding-bottom: 10px;
}

#photo-submit {
	float: right;
	font-size: 10px;
	height: 0;
}

#photo-submit:hover{
	background: none;
}

.places{
	margin-top: 10px;
}

.places-list{	
	font-size: 10pt;
	background: white;
	margin-top: 10px;
	/*min-height: 250px;*/
	height: 100%;
}

.places-list-greyed{
	background: #F8F8F8;
}

.places-list li{	
	padding: 10px 0px 5px 10px;
	list-style: none;	
}

.places-list-greyed li{	
	padding: 10px 0px 5px 10px;
	list-style: none;	
}

.places-list-greyed li span{	
	float: right;
	height: 0;
	padding: 0;
}

.places-list li:hover{
	background: #ccc;	
}

.recommends{
	position: absolute;	
	min-width: 230px;
	bottom: 50px;	
	margin: 0 10px 0 10px;
}

.recommends-content{	
	height: 250px;	
}

.recommends-content img{
	margin-bottom: 5px;
}

.top-bordered {
	border-top: 1px solid black;
}
/*
#transportation-details {
	left: 500px;
}*/